@import '../variables';

.profile{
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;

  h4{
    font-size: 1.5rem;
  }
  &-icon{
    width: 20px;
  }
  &-title{
    font-size: 1.5rem;
  }
  &-field{
    span{
      display: block;
      font-size: 1rem;
      margin: 0 0 6px;
    }
    input{
      width: 100%;
      height: 3rem;
      font-size: 1.5rem;
    }

  }
  &__form{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    align-items: end;
  }
}

.profile-nav{
  margin: 20px 0;
  &__list{
    display: flex;
  }
  &__item{

    max-width: 200px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
  }
  .active{
    border-bottom: 3px solid #fe5f1e;
  }
}

.address{
  padding: 3rem 0;
  &__item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;

    .button {
      border-color: darken($color: $gray-line, $amount: 10);
    }

    svg {
      transform: rotate(45deg);

      path {
        fill: darken($color: $gray-line, $amount: 15);
      }
    }

    .button {
      svg {
        width: 11.5px;
        height: 11.5px;
        position: relative;
      }

      &:hover,
      &:active {
        border-color: darken($color: $gray-line, $amount: 80);
        background-color: darken($color: $gray-line, $amount: 80);
      }
    }
  }
}

.add-address-block{
  background: #eee9e3;
  &__form{

  }
}

@media screen and (max-width: 500px){
  .profile{
    &__form{
      grid-template-columns: minmax(250px, 1fr);
      grid-gap: 0;
    }
  }
}